.header-banner {
  width: 100%;
  height: 600px;

  position: relative;
}

.header-banner-image {
  width: 100%;
  height: 100%;
}

.header-banner-image img {
  width: 100%;
  height: 100%;
}

.header-banner-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.banner-text-container {
  width: 60%;
  margin: 0 auto;
  color: #eee;
  text-align: center;
  margin-top: 100px;
}

.banner-text-container h1 {
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  margin-bottom: 30px;
}

.banner-text-container p {
  width: 100%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}

.slide-change-button img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.slide-change-button img {
  cursor: pointer;
}

.left-btn {
  left: 7%;
}

.right-btn {
  right: 7%;
}
