.aboutUs-section-title h1 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Cormorant", serif;
  font-size: 40px;
  margin-top: 30px;
}

.aboutUs-section-title hr {
  width: 200px;
  height: 2px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: dodgerblue;
}

.issuer-section h4,
.industry-section h4 {
  margin: 40px 0 10px 0;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.issuer-section p,
.industry-section p {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  margin-bottom: 20px;
}
