.form-container {
  width: 25%;
  margin: 0 auto;
  margin-top: 20px;
}

.other-sign-option button {
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: dodgerblue;
  color: #fff;
  border: 1px solid blue;
  font-family: "Roboto Slab", serif;
}

.other-sign-option button i {
  color: goldenrod;
}

@media screen and (max-width: 480px) {
  .form-container {
    width: 90%;
    margin: 0 auto;
  }
}
